@page
@using total_test_1.Models.Schedule
@using total_test_1.Models.Admin
@model total_test_1.Pages.AdminModel
@{
    ViewBag.Title = "Admin";
}
[Authorize]
<body>
	<div class="text-center">
		<h1 class="display-2">View Schedule - Admin</h1>
	</div>
	<hr />
	<div class="text-center container d-flex justify-content-center">
        <form>
			<div class="mb-3">
				<input type="date" class="form-control pe-4 ps-4" id="dateEntry" onchange="redirectToSchedule()" value="@ViewBag.s" />

				<script>
					function redirectToSchedule() {
						var selectedDate = document.getElementById("dateEntry").value;
						var formattedDate = encodeURIComponent(selectedDate);
						window.location.href = '/admin/schedule?selectedDate=' + formattedDate;
					}
				</script>

				<div class="form-text">Today - @DateTime.Today.ToString("MM/dd/yy")</div>
			</div>
		</form>
	</div>
	<div class="row justify-content-center" style="color: #ffffff;">
	<table class="table table-responsive text-white">
		<tr>
			<th class="p-2">Time</th>
			<th class="p-2">First Name</th>
			<th class="p-2">Last Name</th>
		</tr>
		@{
			foreach (AppointmentDisplay appointment in ViewBag.appointmentViewer)
			{
				<tr>
					<td class="p-2">@appointment.Time</td>
					<td class="p-2">@appointment.FirstName</td>
					<td class="p-2">@appointment.LastName</td>
				</tr>
			}
		}
        </table>
    </div>
	<div class="container d-flex justify-content-center mt-5">
		<a href="#" class="me-5 pe-5 ps-5 btn btn-primary">Delete</a>
		<a class="ms-5 btn btn-primary" asp-page="/Appointments">Add An Appointment</a>
	</div>
	<div class="text-center mt-5">
		<h2>Scott Didriksen</h2>
		<p>5500 E. Opportunity Dr. Nampa, ID 83687<br />
		   Phone: 208.562.3000<br />
		   Email: scottdidriksen@cwi.edu<br />
		   Mail: MS 2000, P.O. Box 3010, Nampa ID 83653
		</p>
	</div>
</body>
